<section class="footer container-fluid">
    <div class="row justify-content-center">
        <div class="text-center w-75 mt-5 mb-1 mb-md-0">
            <h2 class="mb-3">reach out!</h2>
            <p class="lead mb-4">drop me a message if you're interested to get in touch or collaborate.</p>
        </div>
    </div>
    <form class="row justify-content-center mb-4" action="/submit-form" method="POST">
        <div class="reach-me-form">
            <label>Name:</label>
            <input type="text" class="form-control" aria-describedby="name" name="name" placeholder="name">
            <label class="pt-2">Email:</label>
            <input type="email" class="form-control" aria-describedby="email" name="email" placeholder="email address">
            <label class="pt-2">Message:</label>
            <textarea type="text" class="form-control" aria-describedby="message" name="message" placeholder="message"></textarea>
            <div class="button">
                <button type="submit" class="button btn btn-light btn-sm mt-3">Submit</button>
            </div>
        </div>
    </form>
    <div class="container w-75">
        <hr>
    </div>
    <div class="row justify-content-center">
        <a href="mailto:vleungz.98@gmail.com" class="mail"><i class="far fa-envelope"></i> vleungz.98@gmail.com</a>
    </div>
    <div class="row justify-content-center">
        <div class="mb-5">
            <a href="https://www.facebook.com/vleungz" target="_blank" rel="noopener noreferrer" class="icons ml-1 mr-0"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UC3I2dI3RYSTFxinLwbZDRng" target="_blank" rel="noopener noreferrer" class="icons ml-1 mr-0"><i class="fab fa-youtube"></i></a>
            <a href="https://www.instagram.com/lonerleung/" target="_blank" rel="noopener noreferrer" class="icons ml-1 mr-1"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>
<!--    jquery, popper, bootstrap js-->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.7/ScrollMagic.min.js"></script>
<script type="text/javascript" src="/javascripts/style.js"></script>

</body>
</html>